#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login {
    display: inline-grid;
}

.register {
    display: inline-grid;
}



.password_strength {
    width: 100%;
    background-color: #f0f0f0;
    height: 5px;
    margin-bottom: 10px;
}

.password_strength_bar {
    width: 0;
    height: 100%;
    background-color: #234021;
}

.submit_reg_btn, .submit_log_btn {
    background-color: #234021;
}

.submit_reg_btn:hover, .submit_log_btn:hover {
    background-color: #536952;
}